[Unit]
Description=Rockchip NPU Transfer Proxy
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/npu_startup.sh
Restart=always
RestartSec=15
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
